body {
  font-family: Arial, sans-serif;
  background-image: url("../../assets/images/anime-tavern-darken.jpg");
  background-size: cover;
  background-blend-mode: darken;
}

.menu-container {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 200px;
  margin-right: 5%;
}

.menu-item {
  margin: 10px 0;
  text-align: center;
}

.menu-item.small {
  font-size: 1.1rem;
  color: gray;
}

.menu-item.large {
  font-size: 3rem;
  color: white;
}

.section-container {
  width: 500px;
  margin: 20px auto;
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
}
